<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <nav id="Menu">
        <ul>
            <li><a class="menuLink" href="/">Add members</a></li>
            <li><a class="menuLink" href="/list">List</a></li>
            <li><a class="menuLink" href="/search">Search</a></li>
            <style>
                body {
                    font-family: "Trebuchet MS", Dotum, Arial;
                }

                div {
                    padding: 3px;
                }

                #Menu {
                    height: 30px;
                    width: 850px;
                }

                #Menu ul li {
                    list-style: none;
                    color: white;
                    background-color: #2d2d2d;
                    float: left;
                    line-height: 30px;
                    vertical-align: middle;
                    text-align: center;
                }

                #Menu .menuLink {
                    text-decoration: none;
                    color: white;
                    display: block;
                    width: 150px;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: "Trebuchet MS", Dotum, Arial;
                }

                #Menu .menuLink:hover {
                    color: black;
                    background-color: white;
                }
            </style>
        </ul>
    </nav>
    <div id="searchMember" >
        
        <h3>Search Gym member information</h3>
        <form action="/search">
            <div>
                <label>Search by name</label>
                <input type="text" id="getName" name="getName">
                <input type="submit" value="Search">
            </div>

        <% if ("getName"!=null) {%>
               
<%console.log("getName".value)%>
                <%}%>
            </form>









    </div>

</body>

</html> -->